<div class="habit-today-{{habit.today || 'pending'}}" ng-class="{ 'habit-list-item': true, toggled: toggled, faded: !allCollapsed && !toggled }">
  <header ng-click="toggle()" class="habit-overview">
    <div class="level-indicator">
      <level-indicator tooltip="Level" tooltip-touch tooltip-position="top" habit="habit"></level-indicator>
    </div>
    <div>
      <div class="habit-name">
        <h2>{{habit.name}}</h2>
        <span class="day-indicator">Tag {{habit.daysSince}}</span>
      </div>
      <experience-bar habit="habit"></experience-bar>
    </div>
    <nav ng-show="loading"><span class="loading-indicator">Einen Moment bitte...</span></nav>
    <nav ng-hide="loading">
      <span
        tooltip="Zum Korrigieren klicken!"
        tooltip-position="top"
        ng-click="correctTodaysActivity(); $event.stopPropagation()"
        class="activity-status"
        ng-show="habit.today && !correctingTodaysActivity">
          {{habit.today === 'success' ? 'Du hast das Tagesziel erreicht!' : 'Du hast das Tagesziel nicht erreicht.'}}
      </span>
      <span ng-show="correctingTodaysActivity">Heutiges Tagesziel korrigieren:</span>
      <span ng-show="!correctingTodaysActivity && !habit.today">Heutiges Tagesziel:</span>
      <button
        ng-show="!habit.today || correctingTodaysActivity"
        ng-click="succeed(habit); stopCorrectingTodaysActivity(); $event.stopPropagation()"
        class="success">
          Erreicht
        </button>
      <button
        ng-show="!habit.today || correctingTodaysActivity"
        ng-click="fail(habit); stopCorrectingTodaysActivity(); $event.stopPropagation()"
        class="fail">
          Verfehlt
        </button>
      <button ng-show="correctingTodaysActivity" ng-click="stopCorrectingTodaysActivity(); $event.stopPropagation()">Abbrechen</button>
    </nav>
  </header>
  <section ng-show="toggled" class="habit-details">
    <section class="habit-detail">
      <h3>Habit-Level <level-indicator habit="habit"></level-indicator></h3>
      <experience-bar
        habit="habit"></experience-bar>
      <ul class="stats">
        <li><strong>Insgesamt:</strong> {{habit.xp}} XP</li>
        <li><strong>Bis zum nächsten Level:</strong> {{habit.level.xp - habit.xp}} XP</li>
      </ul>
    </section>
    <section class="habit-detail">
      <h3>Achievements</h3>
      <div class="achievements">
        <img class="achievement" ng-class="{ achieved: achievement.achieved && achievement.seen }" ng-repeat="achievement in habit.achievements" tooltip="{{achievement.description}}" tooltip-touch ng-src="{{achievement.icon}}" alt="{{achievement.title}}">
      </div>
      <ul class="stats">
        <li><strong>{{habit.achievedAchievements.length}}</strong> von <strong>{{habit.achievements.length}}</strong> Achievements freigeschaltet.</li>
      </ul>
    </section>
    <section class="habit-detail">
      <h3>Statistiken</h3>
      <div class="streak-box">
        <div
          tooltip-touch
          tooltip="{{day.day}}. Tagesziel {{day.type === 'success' ? 'erreicht' : day.type === 'fail' ? 'nicht erreicht' : 'ausstehend'}}"
          ng-repeat="day in habit.days track by $index"
          class="day {{day.type}} {{day.isToday ? 'today' : ''}}">
        </div>
      </div>
      <ul class="stats">
        <li><strong>Tage insgesamt:</strong> {{habit.daysSince}}</li>
        <li><strong>Erfolgsrate:</strong> <span tooltip="Gestern: {{habit.lastSuccessRate}}%"><img class="success-rate-development" ng-src="/habit-list-item/icons/success-rate-development-{{habit.successRateDevelopment}}.svg" alt=""> {{habit.successRate}}%</span></li>
        <li><strong>Aktuelle Erfolgsserie:</strong> <ng-pluralize count="habit.currentStreak" when="{'one': '1 Tag', 'other': '{} Tage'}"></ng-pluralize></li>
        <li><strong>Längste andauerende Erfolgsserie:</strong> <ng-pluralize count="habit.longestStreak" when="{'one': '1 Tag', 'other': '{} Tage'}"></ng-pluralize></li>
      </ul>
    </section>
    <nav class="habit-settings">
      <a ng-click="rename(); $event.stopPropagation()">Habit umbenennen</a>
      <a class="danger" ng-click="delete(habit); $event.stopPropagation()">Habit löschen</a>
    </nav>
  </section>
</div>