.habit-today-success .day-indicator, .habit-today-success .activity-status
  @extends .badge-success

.habit-today-fail .day-indicator, .habit-today-fail .activity-status
  @extends .badge-fail

.habit-today-pending .day-indicator, .habit-today-pending .activity-status
  @extends .badge-neutral

.habit-list-item
  &.toggled
    border-bottom 1px solid color-neutral-background
    
  .habit-settings
    border-top 1px solid color-neutral-background
    padding-top 1rem
    font-size .8rem
    
  h2
    font-size 1.3rem
    display inline-block
    transition font-size .1s
  
  &.toggled h2
    font-size 2rem
  
  .day-indicator
    margin-left .8rem
    transition font-size .1s
    
  &.faded .day-indicator
    visibility hidden
  
  &.toggled .day-indicator
    font-size 1rem
    
  &.toggled .habit-overview experience-bar
    margin-top 0
    .progress
      height 0

  .habit-overview
    @extends $row
    border-bottom 1px solid color-neutral-background
    padding 1rem 0
    height 5rem
    font-size .9rem
    
    experience-bar
      transition margin-top .1s
      margin-top .7rem
      max-width 40rem
      .progress
        transition height .1s
    
    nav
      flex 0 auto
    
    .habit-name
      display flex
      align-items center

    level-indicator
      font-size 1rem
      flex 0 0 3rem
      margin-right 1.5rem
      height 3rem

    &:hover h2
      text-decoration underline
  
  &.faded .habit-overview nav
    visibility hidden

  .habit-details
    padding 0 0 1rem
    margin-left 4.5rem
    > *:first-child
      margin-top 0
    
    experience-bar
      margin-top 1rem
      max-width 40rem
      .progress
        height .8rem
    
    h3
      margin-bottom 1rem
  
  .habit-detail
    margin-bottom 1.5rem
    padding-top 1.5rem
    border-top 1px solid color-neutral-background
    &:first-child
      border-top 0

  &.toggled
    .delete-habit-link
      visibility visible

.streak-box
  @extends $clearfix
  margin-bottom -.5rem

  .day
    width 1.8rem
    height 1.8rem
    margin-right .5rem
    margin-bottom .5rem
    float left
  
  .day.pending
    background color-neutral-background
  
  .day.fail
    background color-fail
    &.today
      border-color darken(color-fail, 30)
  
  .day.success
    background color-success
    border-color color-success
    &.today
      border-color darken(color-success, 30)
  
  .day.today
    border-color color-neutral
    border-width 3px
    border-style solid

.stats
  font-size .9rem
  margin 0
  padding 0
  margin-top 1rem;
  li
    margin-left 1rem
    display inline
    .highlight
      font-weight bold
  li:first-child
    margin 0

.achievements
  img
    opacity .25
    width 4rem
    height 4rem
    padding .5rem
    border 3px solid color-neutral
    border-radius 2px
    margin-right 1rem
  .achieved
    fill: color-success
    opacity 1