.habit-today-success .day-indicator, .habit-today-success .activity-status
  @extends .badge-success

.habit-today-fail .day-indicator, .habit-today-fail .activity-status
  @extends .badge-fail

.habit-today-pending .day-indicator, .habit-today-pending .activity-status
  @extends .badge-neutral

.habit-list-item
  transition opacity .2s
  &.faded
    opacity .5
  &.toggled
    border-bottom 1px solid color-neutral-background

  .habit-settings
    border-top 1px solid color-neutral-background
    padding-top 1rem
    font-size .8rem
    text-align left

  h2
    font-size 1.3rem
    color color-text
    display inline-block
    transition font-size .1s
  
  &.toggled h2
    color color-primary-text
    font-size 2rem
  
  .day-indicator
    margin-left .8rem
    transition font-size .1s
    
  &.toggled .habit-overview experience-bar
    margin-top 0
    .progress
      height 0
      
  .habit-overview:hover, &.toggled .habit-overview
    padding-bottom calc(1rem - 3px)
    border-bottom-width 4px

  .habit-overview
    @extends $row
    border-bottom 1px solid color-neutral-background
    padding 1rem 0
    height 5rem
    font-size .9rem
    
    experience-bar
      transition margin-top .1s
      margin-top .7rem
      max-width 40rem
      .progress
        height 5px
        transition height .1s
    
    nav
      flex 0 auto
    
    .habit-name
      display flex
      align-items center

    level-indicator
      font-size 1rem
      flex 0 0 3rem
      margin-right 1.5rem
      height 3rem

  &.toggled .habit-details
    padding 0 0 1rem
  .habit-details
    margin-left 4.5rem
    > *:first-child
      margin-top 0
    
    experience-bar
      margin-top 1rem
      max-width 40rem
      .progress
        height .8rem
    
    h3
      margin-bottom 1rem
  
  .habit-detail
    margin-bottom 1.5rem
    padding-top 1.5rem
    border-top 1px solid color-neutral-background
    &:first-child
      border-top 0

  &.toggled
    .delete-habit-link
      visibility visible

.streak-box
  @extends $clearfix
  margin-bottom -.5rem

  .day
    width 1.8rem
    height 1.8rem
    margin-right .5rem
    margin-bottom .5rem
    float left
  
  .day.pending
    background color-neutral-background
  
  .day.fail
    background color-fail
    &.today
      border-color darken(color-fail, 30)
  
  .day.success
    background color-success
    border-color color-success
    &.today
      border-color darken(color-success, 30)
  
  .day.today
    border-color color-neutral
    border-width 3px
    border-style solid

.stats
  font-size .9rem
  margin 0
  padding 0
  margin-top 1rem;
  li
    margin-left 1rem
    display inline
    .highlight
      font-weight bold
  li:first-child
    margin 0

.achievements
  img
    opacity .25
    width 4rem
    height 4rem
    padding .5rem
    border 3px solid color-neutral
    border-radius 2px
    margin-right 1rem
  .achieved
    fill: color-success
    opacity 1

+mobile()
  .habit-list-item
    .habit-details
      margin-left 0
      .stats
        li
          display block
          margin-top .5rem
          margin-left 0
        li:first-child
          margin-top 0
      .streak-box
        .day
          width 1rem
          height 1rem
          margin-right .25rem
          margin-bottom .25rem
      .achievements
        padding-bottom -2rem
        display flex
        box-orient horizontal
        flex-direction row
        box-pack center
        justify-content center
        box-align center  
        align-items center

        img.achievement
          flex 1 100%
          width 100%
          max-width 100%
          height auto
          margin-right .5rem
          padding .25rem
          border-width 2px
          margin-bottom .25rem
        .achievement:last-child
          margin-right 0
    .habit-overview
      display block
      height auto
      nav
        display block
        text-align left
        margin-top .5rem
        span
          margin-bottom .5rem
          display block
        span:last-child
          margin-bottom 0
      h2
        display block
      .day-indicator, level-indicator
        display none
    &.toggled .habit-overview h2
      font-size 1.6rem