$fill-primary
  background color-primary
  color color-primary-contrast

$row
  display flex
  align-items center
  > *
    flex 1

$clearfix
  &:after
    content ''
    display table
    clear both

$badge, $badge-success, $badge-fail
  font-size .8rem
  border 1px solid color-neutral
  color color-neutral
  border-radius 2px
  padding .3rem .5rem

$badge-fail
  color color-fail
  border 1px solid color-fail

$badge-success
  color color-success
  border 1px solid color-success