$fill-primary
  background color-primary
  color color-primary-contrast

$row
  display flex
  align-items center
  > *
    flex 1

$clearfix
  &:after
    content ''
    display table
    clear both

.badge-neutral, .badge-success, .badge-fail
  font-size .9em
  border-radius 2px
  padding .3em .5em

.badge-neutral
  background color-neutral
  color white

.badge-fail
  color white
  background color-fail

.badge-success
  color white
  background color-success