form
  max-width 600px
  
  input
    height 2.5em
    padding 0 .7em
    line-height normal
    border 2px solid color-neutral
    border-radius 2px
    outline none

  .input-container
    display flex
    justify-items space-between
    align-items center
    padding .5em 0
    
    label
      flex 1
    input
      flex 1
      min-width 400px

  .submit-container
    padding .5em 0
    text-align right

form.inline
  margin 0
  max-width initial
  @extends $row
  .input-container
    padding 0
    min-width initial
    margin 0 .25rem
  .submit-container
    padding 0
    display inline-block
    flex 0 auto
    padding 0
    button
      margin-left .25rem