form
  max-width 600px
  
  input
    padding .5em .5em

  .input-container
    display flex
    justify-items space-between
    align-items center
    padding .5em 0
    
    label
      flex 1
    input
      flex 1
      min-width 400px
  
  .submit-container
    padding .5em 0
    text-align right