@import './variables'
@import './buttons'
@import './common'
@import '../habit-list/habit-list'

body
  font-size 18px
  padding 0

*
  box-sizing border-box

h1, h2, h3, h4, h5, h6
  font-weight normal
  margin 0
  padding 0
  
.wrapper
  margin 0 1em

.app-header
  @extends $fill-primary

  .wrapper
    @extends $row
    height 3em
    
  h1
    margin 0
    font-size 1.2em

.page-header
  @extends $row
  margin-top 2em

.page-body
  margin-top 1em

.primary-form
  margin 0 auto
  width 100%
  max-width 600px

.error-message
  color red

.level
  border-radius 50%
  width 3em
  height 3em
  border 1px solid color-neutral
  color color-neutral
  display flex
  align-items center
  justify-content center

a
  color inherit
  text-decoration none

 nav
  text-align right
  > *
    margin-right 1em
    &:last-child
      margin-right 0