.modal-backdrop
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  background rgba(0, 0, 0, .15)
  display flex
  align-items center
  justify-content center

  .modal
    text-align center
    background white
    width 33%
    min-width 600px
    padding 3rem
    border-radius 2px
    box-shadow 0 10px 30px rgba(0, 0, 0, .15)
    
    .modal-body
      margin-top 3rem
    
    h2
      margin-top 2rem

    p
      margin 0
      margin-top .5rem