.habit-tooltipster
  border-radius 2px
  border 0
  background color-primary
  color color-primary-contrast

.habit-tooltipster .tooltipster-content
  font-size .9rem
  padding .5em .7em
  line-height 1.3