color-primary = #53626E
color-primary-contrast = rgba(255, 255, 255, 0.9)
color-neutral = #8E9BA5
color-neutral-background = #E6E8EA
color-primary-text = darken(color-primary, 40%)
color-text = color-primary
color-link = #2b35ff
color-success = #80D26A
color-fail = #DA6B6B