.habit-list
  margin 0
  padding 0
  
  li 
    margin 0
    list-style none

  .habit-list-item
    border-bottom 1px solid color-neutral

  .habit-list-item .habit-overview
    @extends $row
    font-size .8em
    padding 1em 0
    
    .level
      background white
      flex 0 0 3em
      margin-right 2em
    &:hover .habit-name
      text-decoration underline
  
  .habit-details
    font-size .8em
    padding 1em 0
    margin-left 5em
    > *:first-child
      margin-top 0

.streak-box
  @extends $clearfix
  margin-top 1em
  padding .5em
  background color-neutral-background

  .day
    width 1.5em
    height 1.5em
    margin .25em
    float left
  
  .day.pending
    background #fff
  
  .day.fail
    background color-fail
    &.today
      border-color darken(color-fail, 30)
  
  .day.success
    background color-success
    border-color color-success
    &.today
      border-color darken(color-success, 30)
  
  .day.today
    border-color color-neutral
    border-width 3px
    border-style solid