<header class="page-header">
  <h1>Meine Habits</h1>
  <nav><button ui-sref="create-habit" class="primary">Neuer Habit</button></nav>
</header>
<section class="page-body">
  <ul ng-if="habits.length" class="habit-list">
    <li class="habit-list-item" ng-repeat="habit in habits">
      <div class="level">{{habit.level}}</div>
      <div>
        <h2>{{habit.name}}</h2>
      </div>
      <nav>
        <button class="primary">Done</button>
        <button>Failed</button>
      </nav>
    </li>
  </ul>
  <div ng-if="!habits.length" class="empty-list">
    <p>Du hast noch keine Habits angelegt.</p>
  </div>
</section>