<header class="page-header">
  <h1>Meine Habits</h1>
  <nav>
    <create-habit on-cancel="hideCreateHabitForm();" on-create="hideCreateHabitForm(); reload()" ng-if="createHabit"></create-habit>
    <button ng-if="!createHabit" ng-click="showCreateHabitForm()" class="primary">Neuer Habit</button>
  </nav>
</header>
<section class="page-body">
  <div ng-if="habits.length" class="habit-list">
    <habit-list-item
      ng-repeat="habit in habits track by habit._id"
      habit="habit"
      on-change="reload()"
      on-delete="delete(habit)"
      toggled="isToggled(habit)"
      toggle="toggleDetails(habit)"
      all-collapsed="allCollapsed()"
      >
    </habit-list-item>
  </div>
  </ul>
  <div ng-if="!habits.length && !loading" class="empty-list">
    <p>Du hast noch keine Habits angelegt.</p>
  </div>
  <div ng-if="!habits.length && loading">
    <p>Habits werden geladen...</p>
  </div>
</section>