experience-bar
  display block
  background color-neutral-background
  font-size 0
  line-height 0
  border-radius 2px
  
  .progress
    background color-neutral
    border-radius 2px
    height 5px
    width 1%