.level-up-modal
  .level
    background color-neutral-background
    border-radius 50%
    font-size 5rem
    margin 0 auto 2rem
    width 10rem
    height 10rem
    display flex
    align-items center
    justify-content center