<html ng-app="habit" ng-controller="AppController as app">
  <head>
    <title>habit</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <header class="app-header">
      <div class="wrapper">
        <div class="app-name">
          <h1><a ui-sref="dashboard">habit app</a></h1>
        </div>
        <nav>
          <a ng-if="!user" ui-sref="login">Login</a>
          <a ng-if="!user" ui-sref="signup">Registieren</a>

          <a ng-if="user" ng-click="app.logout()">Ausloggen</a>
        </nav>
      </div>
    </header>
    <div class="wrapper">
      <section ui-view class="main"></section>
    </div>
    <script src="app.js"></script>
  </body>
</html>