<md-content class="md-padding primary-form">
  <h1>Registrieren</h1>
  <form ng-submit="signup(user)">
    <div layout="row">
      <md-input-container flex>
        <label>Vorname</label>
        <input type="text" autofocus ng-model="user.firstName">
      </md-input-container>
      <md-input-container flex>
        <label>Nachname</label>
        <input type="text" ng-model="user.lastName">
      </md-input-container>
    </div>
    <md-input-container flex>
      <label>E-Mail</label>
      <input type="email" ng-model="user.email">
    </md-input-container>
    <md-input-container flex>
      <label>Passwort</label>
      <input type="password" ng-model="user.password">
    </md-input-container>
    <md-input-container flex>
      <label>Passwort bestätigen</label>
      <input type="password" ng-model="user.passwordConfirmation">
    </md-input-container>
    <div layout="row">
      <span flex></span>
      <md-button class="md-primary" type="submit">Registrieren</md-button>
    </div>
  </form>
</md-content>